<div class="sharebuttons">
  <hr />
  <ul>
    <li class="github">
      <a href="https://github.com/nikitacs16/" target="_blank">
        {% include social/github.svg %}
      </a>
    </li>
    <li class="scholar">
      <a href="https://scholar.google.co.in/citations?user=pj7W-KYAAAAJ&hl=en&oi=ao" target="_blank">
        {% include social/scholar.svg %}
      </a>
    </li>
        <li class="twitter">
      <a href="https://twitter.com/nikita_moghe" target="_blank">
        {% include social/twitter.svg %}
      </a>
    </li>
  </ul>
</div>
